@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700;800;900&display=swap');

html,
body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  font-size: calcRem($rem-base-size);
  line-height: 160%;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

a {
  color: $ooo-orange;
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $ooo-purple;
  }
}

p, li {
  font-size: calcRem(18);
  line-height: 170%;
  
  @media (max-width: $mobile-breakpoint) {
    font-size: calcRem(16);
  }
}

h1 {
  font-weight: 800;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
  font-size: calcRem(22);
  line-height: 180%;
  margin: calcRem(15) 0;
  padding: calcRem(10) 0 calcRem(10) calcRem(20);
  border-left: 2px solid $ooo-purple;

  @media (max-width: $mobile-breakpoint) {
    font-size: calcRem(18);
  }
}